<% if(typeof dbData != 'undefined') { %>
<table>
  <thead>
    <tr>
      <% dbDataHeaders.forEach( header => { %> 
        <th><%= header.Field; %></th>
      <% }); %>
    </tr>
  </thead>
  <tbody>
    <% let counter = 0 %>
    <% dbData.forEach( row => { %>
      <tr>
        <% dbDataHeaders.forEach ((header, cellIndex) => { %>
          <td>
            <% if (cellIndex === 0) { %>
              <% if (pageTitle === 'Courses') { %>
                <a href="/courses/<%= dbData[counter].id %>/students"><%= row[header.Field]; %></a>
                <% counter++ %>
              <% } else if (pageTitle === 'Students') { %>
                <a href="/students/<%= dbData[counter].id %>/courses"><%= row[header.Field]; %></a>
                <% counter++ %>
              <% } else { %>
                <%= row[header.Field]; %>
              <% }; %>
            <% } else { %>
              <%= row[header.Field]; %>
            <% }; %>
          </td>
        <% }); %>
      </tr>
    <% }); %>
  </tbody>
</table>
<% } %>

