<% if(typeof dbData != 'undefined') { %>
<div class="center">
  <table>
    <thead>
      <tr>
        <% dbDataHeaders.forEach( header => { %> 
          <th><%= header.Field; %></th>
        <% }); %>
      </tr>
    </thead>
    <tbody>
      <% if (pageTitle === 'Courses') { %>
        <% dbData.forEach( row => { %>
          <tr>
            <% dbDataHeaders.forEach ((header, cellIndex) => { %>
              <td>
                <% if (cellIndex === 0) { %>
                  <a href="/courses/<%= row.id %>/students"><%= row[header.Field]; %></a>
                <% } else { %>
                  <%= row[header.Field]; %>
                <% }; %>
              </td>
            <% }); %>
          </tr>
        <% }); %>
      <% } else if (pageTitle === 'Students') { %>
        <% dbData.forEach( row => { %>
          <tr>
            <% dbDataHeaders.forEach ((header, cellIndex) => { %>
              <td>
                <% if (cellIndex === 0) { %>
                  <a href="/students/<%= row.id %>/courses"><%= row[header.Field]; %></a>
                <% } else { %>
                  <%= row[header.Field]; %>
                <% }; %>
              </td>
            <% }); %>
          </tr>
        <% }); %>
      <% } else { %>
        <% dbData.forEach( row => { %>
          <tr>
            <% dbDataHeaders.forEach ( header => { %>
              <td>
                  <%= row[header.Field]; %>
              </td>
            <% }); %>
          </tr>
        <% }); %>
      <% }; %>
    </tbody>
  </table>
</div>
<% } %>