<% if(typeof dbDataInfo != 'undefined') { %>
  <table>
    <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <% if (tableIdentifier === 'student') { %>
          <td>Courses</td>
        <% } else if (tableIdentifier === 'course') { %> 
          <td>Town</td>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% dbDataInfo.forEach(student => { %>
        <tr>
          <td><%- student.id %></td>
          <td><%- student.fName %> <%- student.lName %></td>
          <td>
          <% if (tableIdentifier === 'student') { %>
            <ul>
              <% dbDataStudentsCoursesRelations
                .filter(course => course.students_id === student.id)
                .forEach(course => { %>
                  <li class="relationLi"><%- course.name %></li>
              <% }) %>
            </ul>
          <% } else if (tableIdentifier === 'course') { %>
            <%- student.town %>
          <% } %>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } %>