<%- include('partials/head') %>
<body>
  <%- include('partials/header') %>
  <h2 class="title"><%= pageTitle; %></h2>
  <%- include('partials/dataTable') %>
  <%- include('partials/relationTable') %>
  <%- include('partials/crudButtons') %>
</body>
</html>